doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ngStorage
    body
        
        <!--bower:js-->
        <script src="/components/angular/angular.js"></script>
        <script src="/components/angular-gettext/dist/angular-gettext.js"></script>
        <script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!--endbower-->
        <!--bower:css-->
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" />
        <!--endbower-->
        script(src="/src/module.js")
        script(src="/src/directive.js")
        script(src="/doc/app.js")
        link(rel='stylesheet', href="/src/style.css")
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            
        div(ng-controller="BodyCtrl")
            //gdpr-request-permission-area

            gdpr-request-permission-banner
