b(translate='', translate-context='ga') Used to distinguish users
b(translate='') 2 years
b(translate='', translate-context='ga') Used to distinguish users
b(translate='') 24 hours
b(translate='', translate-context='ga') Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_%property-id%
b(translate='') 1 minute
b(translate='', translate-context='ga') Contains a token that can be used to retrieve a Client ID from AMP Client ID service. Other possible values indicate opt-out, inflight request or an error retrieving a Client ID from AMP Client ID service
b(translate='') 30 seconds to 1 year
b(translate='', translate-context='ga') Contains campaign related information for the user
b(translate='') 90 days
b(translate='', translate-context='ga') Used to distinguish users and sessions. The cookie is created when the javascript library executes and no existing __utma cookies exists. The cookie is updated every time data is sent to Google Analytics
b(translate='') 2 years from set/update
b(translate='', translate-context='ga') Used to throttle request rate
b(translate='') 10 minutes
b(translate='', translate-context='ga') Used to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics
b(translate='') 30 mins from set/update
b(translate='', translate-context='ga') Stores the traffic source or campaign that explains how the user reached your site. The cookie is created when the javascript library executes and is updated every time data is sent to Google Analytics
b(translate='') 6 months from set/update
b(translate='', translate-context='ga') Used to store visitor-level custom variable data
b(translate='') 2 years from set/update
b(translate='', translate-context='ga') Used to determine a user's inclusion in an experiment
b(translate='') 18 months
b(translate='', translate-context='ga') Used to determine the expiry of experiments a user has been included in
b(translate='') 18 months
b(translate='', translate-context='ga') Used to determine a user's inclusion in an experiment and the expiry of experiments a user has been included in
b(translate='', translate-context='ga') Depends on the length of the experiment but typically 90 days
b(translate='') 12 hours from set/update
b(translate='', translate-context='jivosite') First visit to the website
b(translate='', translate-context='jivosite') Number of visits to the website
b(translate='', translate-context='jivosite') Number of pages viewed
b(translate='', translate-context='jivosite') Source of entry to the website
b(translate='', translate-context='jivosite') ID of the marketing campaign of the visit
b(translate='', translate-context='jivosite') Time of appearance of proactive invitation
b(translate='', translate-context='jivosite') Country of the visitor
b(translate='', translate-context='jivosite') City of the visitor
b(translate='', translate-context='jivosite') Time the widget was closed
b(translate='', translate-context='jivosite') Time the callback request was initiated
b(translate='', translate-context='jivosite') Cash of callback backend script response
b(translate='', translate-context='jivosite') Flag that enables long_pooling
b(translate='', translate-context='jivosite') Indication if iframe is forbidden
b(translate='', translate-context='jivosite') a/b testing group flag
