b(translate='', translate-comment='ga') Used to distinguish users
b(translate='') 2 years
b(translate='', translate-comment='ga') Used to distinguish users
b(translate='') 24 hours
b(translate='', translate-comment='ga') Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_%property-id%
b(translate='') 1 minute
b(translate='', translate-comment='ga') Contains a token that can be used to retrieve a Client ID from AMP Client ID service. Other possible values indicate opt-out, inflight request or an error retrieving a Client ID from AMP Client ID service
b(translate='') 30 seconds to 1 year
b(translate='', translate-comment='ga') Contains campaign related information for the user
b(translate='') 90 days
b(translate='', translate-comment='ga') Used to distinguish users and sessions. The cookie is created when the javascript library executes and no existing __utma cookies exists. The cookie is updated every time data is sent to Google Analytics
b(translate='') 2 years from set/update
b(translate='', translate-comment='ga') Used to throttle request rate
b(translate='') 10 minutes
b(translate='', translate-comment='ga') Used to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics
b(translate='') 30 mins from set/update
b(translate='', translate-comment='ga') Stores the traffic source or campaign that explains how the user reached your site. The cookie is created when the javascript library executes and is updated every time data is sent to Google Analytics
b(translate='') 6 months from set/update
b(translate='', translate-comment='ga') Used to store visitor-level custom variable data
b(translate='') 2 years from set/update
b(translate='', translate-comment='ga') Used to determine a user's inclusion in an experiment
b(translate='') 18 months
b(translate='', translate-comment='ga') Used to determine the expiry of experiments a user has been included in
b(translate='') 18 months
b(translate='', translate-comment='ga') Used to determine a user's inclusion in an experiment and the expiry of experiments a user has been included in
b(translate='', translate-comment='ga') Depends on the length of the experiment but typically 90 days
b(translate='') 12 hours from set/update
b(translate='', translate-comment='jivosite') First visit to the website
b(translate='', translate-comment='jivosite') Number of visits to the website
b(translate='', translate-comment='jivosite') Number of pages viewed
b(translate='', translate-comment='jivosite') Source of entry to the website
b(translate='', translate-comment='jivosite') ID of the marketing campaign of the visit
b(translate='', translate-comment='jivosite') Time of appearance of proactive invitation
b(translate='', translate-comment='jivosite') Country of the visitor
b(translate='', translate-comment='jivosite') City of the visitor
b(translate='', translate-comment='jivosite') Time the widget was closed
b(translate='', translate-comment='jivosite') Time the callback request was initiated
b(translate='', translate-comment='jivosite') Cash of callback backend script response
b(translate='', translate-comment='jivosite') Flag that enables long_pooling
b(translate='', translate-comment='jivosite') Indication if iframe is forbidden
b(translate='', translate-comment='jivosite') a/b testing group flag
b(translate='') 2 days
b(translate='') 1 year
b(translate='') Until the session ends
b(translate='') 30 minutes
b(translate='') 1 day
b(translate='') 30 days
b(translate='') 90 days
b(translate='', translate-comment='yandex metrica') Used to determine if a visitor has ad blockers
b(translate='', translate-comment='yandex metrica') Used for identifying site users
b(translate='', translate-comment='yandex metrica') Date of the user's first site session
b(translate='', translate-comment='yandex metrica') Session ID
b(translate='', translate-comment='yandex metrica') Indicates that debug mode is active
b(translate='', translate-comment='yandex metrica') Used for Target Call
b(translate='', translate-comment='yandex metrica') Used for identifying site users
b(translate='', translate-comment='yandex metrica') Stores auxiliary information for syncing site user IDs between different Yandex domain
b(translate='', translate-comment='yandex metrica') Allows Session Replay to function correctly
b(translate='', translate-comment='yandex metrica') Limits the number of requests

b(translate='', translate-context='facebook pixel') Unfortunately, facebook.com does not provide comprehensive information about the created and tracked cookies and keys in localStorage. For general information, you can follow this <a href='https://www.facebook.com/policies/cookies/' target='_blank'>link</a>.

b(translate='', translate-context='chatflow') Unfortunately, chatflow.io does not provide comprehensive information about the created and tracked cookies and keys in localStorage. For general information, you can follow this <a href='https://chatflow.io/' target='_blank'>link</a>.

b(translate='', translate-contex='google adsense') Unfortunately, Google AdSense does not provide comprehensive information about the created and tracked cookies and keys in localStorage. For general information, you can follow this <a href="https://policies.google.com/technologies/cookies?hl=en-US#types-of-cookies" target="_blank">link</a>.
