table.gdpr-request-permission-area-content
    //- we can't use bootstrap grid b/c user can redefine grid size
    tbody
        tr
            td
                h5
                    b(translate='') This website uses cookies and local storage
                p.gdpr-text
                    span(translate='') We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. You should consent to our cookies if you continue to use our website.
                    span=' '
                    a(ng-click="toggleDetails()", ng-switch="options.isDetailsVisible")
                        span(translate='', ng-switch-when='true') Hide details
                        span(translate='', ng-switch-when='false') Show details about cookies and local storage
                .gdpr-request-permission-area-content-checkboxes
                    .checkbox-inline(ng-repeat="service in SERVICES")
                        label
                            input(type='checkbox', ng-model="options.permission[service.type]")
                            span=' '
                            span {{service.name | translate}}
                .gdpr-request-permission-area-content-details(ng-if="options.isDetailsVisible")
                    uib-tabset.uib-tabset-sm(active="options.activeTab")
                        uib-tab(ng-repeat="service in SERVICES", index="$index", heading="{{service.name | translate}}")
                            p.gdpr-text(ng-if="service.description", uic-bind-html="service.description | translate", ng-class="{nomargin: !service.cookies.length}")
                            table.table.table-striped.table-bordered.table-condensed(ng-if="service.cookies.length")
                                thead
                                    tr
                                        th.gdpr-text(translate='') Name
                                        th.gdpr-text(translate='') Provider
                                        th.gdpr-text(translate='') Purpose
                                        th.gdpr-text(translate='') Expiry
                                        th.gdpr-text(translate='') Type
                                tbody
                                    tr(ng-repeat="cookie in service.cookies")
                                        td.gdpr-text {{cookie.key}}
                                        td.gdpr-text {{cookie.provider | translate}}
                                        td.gdpr-text {{cookie.purpose | translate}}
                                        td.gdpr-text {{cookie.expiry | translate}}
                                        td.gdpr-text {{cookie.type | translate}}
                            

            td.gdpr-request-permission-area-content-btns.hidden-xs.hidden-sm(ng-switch="!!storageSettings.defaultAllowAll")
                table(ng-switch-when='false')
                    body
                        tr
                            td
                                button.btn.btn-default.btn-xs.btn-block(ng-click="onAccept()")
                                    span(translate='', translate-context='Accept cookies') Accept
                            td.btn-separator
                            td
                                button.btn.btn-default.btn-xs.btn-block(ng-click="onCancel()")
                                    span.fa.fa-times
                                    span(translate='', translate-context='Deny cookies') Deny
                        tr
                            td(colspan='3')
                                button.btn.btn-success.btn-xs.btn-block(ng-click="onAcceptAll()")
                                    span.fa.fa-check
                                    span(translate='', translate-context='Accept all cookies') Accept all
                                    body(ng-switch-when='false')
                table(ng-switch-when='true')
                    body
                        tr
                            td
                                button.btn.btn-success.btn-xs.btn-block(ng-click="onAccept()")
                                    span.fa.fa-check
                                    span(translate='', translate-context='Accept cookies') Accept
                        tr
                            td
                                button.btn.btn-default.btn-xs.btn-block(ng-click="onCancel()")
                                    span.fa.fa-times
                                    span(translate='', translate-context='Deny cookies') Deny


        tr.gdpr-request-permission-area-content-btns.visible-xs.visible-sm
            td.text-center(colspan='2')
                .btn-group
                    button.btn.btn-default.btn-xs(ng-click="onAccept()", ng-class="{'btn-success': storageSettings.defaultAllowAll}")
                        span.fa.fa-check(ng-show="storageSettings.defaultAllowAll")
                        span(translate='', translate-context='Accept cookies') Accept
                    button.btn.btn-success.btn-xs(ng-click="onAcceptAll()", ng-hide="storageSettings.defaultAllowAll")
                        span.fa.fa-check
                        span(translate='', translate-context='Accept all cookies') Accept all
                    button.btn.btn-default.btn-xs(ng-click="onCancel()")
                        span.fa.fa-times
                        span(translate='', translate-context='Deny cookies') Deny
    
